[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
        signingkey = SIGNINGKEY
[gpg]
        program = /opt/homebrew/bin/gpg
[core]
        sshCommand = ssh -i ~/path/to/key -F /dev/null

